section#header {
  background: url('../../assets/bg-large.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}

@media screen and (max-width: 1000px) {
  section#header {
    background: url('../../assets/bg-small.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
  }
}
