section#footer {
  background-image: linear-gradient(
    0deg,
    rgb(141, 208, 247) 0%,
    rgb(255, 255, 255) 100%
  );
  position: relative;
  height: 305px;

  .mobile-politic {
    display: none;
  }

  .footer-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    ul {
      position: relative;
      display: flex;

      li {
        list-style: none;

        a {
          display: inline-block;
          font-size: 22px;
          margin: 50px;
          text-decoration: none;

          font-family: 'PT Sans';
          color: rgb(255, 255, 255);
          font-weight: bold;
          font-variant: small-caps;
          line-height: 1.346;
          text-align: center;
        }
      }
    }
  }

  .bottom-line {
    display: grid;
    border-bottom: 2px solid #fff;
    width: 80%;
    padding-top: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  .bottom-content {
    margin-left: 150px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .copy {
      font-size: 18px;
      font-family: 'PT Sans';
      color: rgb(255, 255, 255);
      font-variant: small-caps;
      line-height: 1.714;
    }
    .social {
      margin-right: 200px;
      color: #fff;

      i {
        margin: 10px;
        margin-top: 0;
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  section#footer {
    // width: 100%;
    background-image: linear-gradient(
      0deg,
      rgb(115, 153, 214) 0%,
      rgb(138, 223, 247) 100%
    );
    background-size: cover;
    height: auto;

    .mobile-politic {
      display: block;
      font-size: 18px;
      font-family: 'PT Sans';
      color: rgb(255, 255, 255);
      text-decoration: underline;
      font-variant: small-caps;
      line-height: 1.8;
      text-align: center;
    }

    .footer-nav {
      width: 100%;
      display: none;
    }

    .bottom-line {
      padding: 0;
      display: none;
    }

    .bottom-content {
      margin: 0;
      display: flex;
      text-align: center;
      justify-content: baseline;
      flex-direction: column-reverse;
      padding-top: 50px;

      .social {
        margin-right: 0;
        font-size: 14px;
      }

      .copy {
        padding-top: 10px;
        font-size: 12px;
      }
    }
  }
}
